.category {
  margin-bottom: 10px;
  width: 100%;
  transition: width 1s;

  &--active {
    width: 80%;
  }
}

.category__button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}
